APPWRITE_FUNCTION_API_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_FUNCTION_PROJECT_ID=your_project_id
APPWRITE_FUNCTION_API_KEY=your_api_key
APPWRITE_DATABASE_ID=your_database_id
VISITS_COL_ID=your_visits_collection_id
VISIT_ANSWERS_COL_ID=your_visit_answers_collection_id
ANALYTICS_COL_ID=your_analytics_collection_id
ANALYTICS_SUMMARIES_COL_ID=your_analytics_summaries_collection_id
PROJECTS_COL_ID=your_projects_collection_id
QUESTIONS_COL_ID=your_questions_collection_id
